.search-add-container {
    display: flex;
    justify-content: start; /* Căn nút 'Add Book' về bên trái */
    align-items: center; /* Căn giữa các mục theo chiều dọc */
    padding: 1rem; /* Khoảng cách bên trong */
    margin-bottom: 1rem; /* Khoảng cách với phần tử tiếp theo */
}

/* Phong cách cho form sắp xếp */
.sort {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-items: center;
}

.sort label {
    margin-right: 0.5rem;
    font-weight: bold;
    color: #333;
}
.sort span {
    color: #555;
    font-size: 1rem;
    margin-right: 0.5rem;
}

.sort select {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    line-height: 1.5;
    transition: all 0.3s ease;
}

.sort select:hover,
.sort select:focus {
    border-color: #999;
    outline: none;
}


/* Thiết kế lại nút Add Book */
.add-button {
    background-color: #4CAF50; /* Màu nền */
    color: white; /* Màu chữ */
    padding: 10px 20px; /* Khoảng cách bên trong */
    border: none; /* Bỏ viền */
    border-radius: 5px; /* Bo góc */
    cursor: pointer; /* Con trỏ chuột */
    text-decoration: none; /* Bỏ gạch chân khi là thẻ a */
    display: inline-block; /* Hiển thị liền kề */
    font-size: 16px; /* Cỡ chữ */
    margin-right: auto; /* Đẩy các phần tử còn lại về bên phải */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu nền */
    margin-bottom: 10px;
    margin-left: 20px;
}

/* Hiệu ứng hover cho nút Add Book */
.add-button:hover {
    background-color: #367c39; /* Thay đổi màu nền khi hover */
}

body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: stretch;
}

.book-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    width: 250px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin: 10px 20px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.book-card:hover {
    transform: scale(1.05);
}


.book-img {
    width: 100%;
    height: 300px;
}

.book-title {
    margin: 8px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book-author{
    font-size: 14px;
    margin: 2px;
    font-weight: 700;
    text-decoration: none;
}
.book-genres {
    border: 1px solid #ffffff;

    padding: 2px 3px;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 12px;
}

.book-genres span {
    border-color: #f18121;
    color: #f18121;
    margin-top: 5px;
}

.book-genres span:hover {
    background-color: #f18121;
    color: #fff;
}

.book-genres a {
    text-decoration: none;
    margin-right: 5px;
}

.genre {
    font-size: 16px;
    color: #333;
}

.detail-link {
    text-decoration: none;
}

.detail-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
}

.detail-button:hover {
    background-color: #218838;
}

#search-bar {
    padding: 10px;
    margin: 3%;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 90%;
}
.author,
.publisher {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin: 8px 0;
}

.button-action {
    display: flex;
}
.button-action a,
.button-action form {
    width: 100%;
}
.button-action form {
    margin-left: 8px;
}
.button-action form button {
    background-color: red;
}
.button-action button {
    width: 100%;
    border-radius: 4px;
    padding: 6px;
    border: none;
    color: white;
    height: 35px;
}
.book-content {
    position: relative;
    bottom: 15px;
    border-radius: 8px;
    /* z-index: 0; */
    background-color: white;
    padding: 4px 8px 0 8px;
}
.wrapper {
    display: flex;
}
.wrapper.column {
    flex-direction: column;
    margin-left: 15rem;
    width: calc(100% - 15rem);
    margin-top: 100px;
}

.genre-list ul {
    list-style-type: none;
}

.sidebar-items {
    display: flex;
    justify-content: space-between;
}

.sidebar-items form {
    margin: 0;
}

.genre-list a {
    text-decoration: none;
}

.genre-list li {
    padding: 20px;
    margin: 12px auto;
    width: 70%;
    border-radius: 8px;
}

.genre-list li:hover {
    background-color: #f18121;
}
.genre-list ul li.active {
    background-color: #f18121;
}
.genre-list li:hover span, .genre-list ul li.active span {
    color: #fff;
}
.genre-list ul {
    padding: 0;
}

.genre-list li:hover button, .genre-list li.active button  {
    background-color: #f18121;
}

.genre-list li button {
    border: none;
    background-color: white;
    cursor: pointer;
}
.genre-list li:hover i, .genre-list li.active i {
    color: white;
}

.genre-list li i {
    color: red;
}

.genre-list {
    position: fixed;
    width: 15rem;
    height: 100vh;
    border-right: 1px solid #e2e8f0;
    background: white;
}

.genre-list .action-btn {
    text-align: center;
}

.genre-list .logo {
    padding: 20px 30px;
}

.wrapper.column  .footer {
    position: relative;
}

.search-block, .sort {
    display: flex;
    align-items: center; /* Căn giữa các mục theo chiều dọc */
}

.wrapper.column > a {
    text-align: end;
}



.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.pagination-nav {
    display: flex;
    align-items: center;
}

.pagination-nav a {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.pagination-nav a:hover {
    background-color: #218838;
}

.pagination-nav a.disabled {
    background-color: #ddd;
    color: #aaa;
    pointer-events: none;
}

.pagination-info {
    margin: 0 10px;
    font-weight: bold;
}

.pagination-settings {
    display: flex;
    align-items: center;
}

.pagination-form {
    display: flex;
    align-items: center;
}

.pagination-button {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-button:hover {
    background-color: #218838;
}

#currentPage {
    width: 45px;
}

.itemsPerPage {
    margin: 0 10px;

}

