.selected-publisher {
border: black 5px solid !important;
}

.selected-item {
    border: black 5px solid !important;
}




/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content */
/* Modal Content */
.modal-content {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    border: 1px solid #888;
    width: 45%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: -15px -15px 0 0;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Style for form elements */
.modal-content form {
    font-size: 1.2em;
}

.modal-content li.row {
    margin-bottom: 1em;
}

.modal-content p.name {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.modal-content ul.list {
    list-style-type: none;
    padding-left: 0;
}


@keyframes scaleAnimation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}



.btn-publisher {
    animation: scaleAnimation 2s infinite ease-in-out;
    padding: 10px 20px;
    background-color: #f3c109;
    color: white;
    border: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

button:hover.btn-publisher {
    background-color: #f18121;
}

button {
    transition: transform .2s;
}

button:hover {
    transform: scale(1.1);
}







.edit-button {
    background-color: #209cee;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

/*Add this to style the cancel button*/
.cancel-button {
    background-color: #ff3860;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

/*Add this to style the save button*/
.save-button {
    background-color: #5cb85c;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

input[type=text] {
    width: 170px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

textarea:focus {
    border: 1px solid #aaa;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}



#sortForm > select {
    width: auto;
    height: auto!important;
}

#sortForm {

    text-align: end;
}

#sortForm > select:focus {
    outline: none;
    border: 2px solid #f18121;
}

#sortForm > select:hover {
    border: 2px solid #f18121;
}





body {
    font-family: "Arial", sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.book-detail-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.book-img {
    max-width: 100%;
    height: auto;
}

.book-title {
    margin-top: 20px;
    font-size: 24px;
}

.book-author,
.book-publisher,
.book-description {
    margin-top: 10px;
    font-size: 16px;
}

.book-genres {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

table a {
    text-decoration: none;
}
table a span:hover {
    text-decoration: underline;
}
.genre {
    color: #333;
    margin: 2px;
    font-weight: 600;
    color: blue;
}

.comments-section {
    padding: 0 0 20px;
    /*border-top: 1px solid #ddd;*/
}

.comment-item {
    display: flex;
    margin-bottom: 15px;
}

.comment-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-content {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    width: 100%;
}

.comment-content::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f9f9f9;
    position: absolute;
    left: -10px;
    top: 12px;
}

.comment-date {
    font-size: 12px;
    color: #777;
    margin-left: 5px;
}

.btn-reply,
.btn-edit,
.btn-delete {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
}

.add-comment {
    /*margin-top: 30px;*/
}

.add-comment textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.book-detail {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    max-height: 100vh;
>>> >>> > ebdbb3756f24c98c8216666756ad8553702ed6bf background: white;
    margin: 1% 0;
}
.book-information {
    width: 35%;
    display: flex;
    flex-direction: column;
    padding: 3%;

    max-height: 100vh;
>>> >>> > ebdbb3756f24c98c8216666756ad8553702ed6bf overflow-y: scroll;
}

table {
    border-collapse: collapse;
    font-family: helvetica;
}
td,
th {
    border: 1px solid;
    padding: 10px;
    min-width: 200px;
    background: white;
    box-sizing: border-box;
    text-align: left;
}
.table-container {
    position: relative;
    max-height: 300px;
    width: 500px;
    overflow: scroll;
}

td {
    font-size: 15px;
}

thead th:first-child {
    left: 0;
    z-index: 3;
}

tfoot td:first-child {
    z-index: 3;
}

tbody {
    overflow: scroll;
    height: 200px;
}

/* MAKE LEFT COLUMN FIXEZ */
tr > :first-child {
    font-weight: 600;
}

.book-detail table {
    margin-bottom: 2%;
}

.action-button {
    background-color: orange;
    color: white;
    border: transparent;
    padding: 2% 5%;
    border-radius: 8px;
    cursor: pointer;
}

.action-button1 {
    background-color: orange;
    color: white;
    border: transparent;
    padding: 2% 5%;
    border-radius: 8px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #f7bb07;
}

.action-button1:hover {
    background-color: #f7bb07;
}
.book-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    background: #000;
    max-height: 100vh;
>>> >>> > ebdbb3756f24c98c8216666756ad8553702ed6bf
}

#sortForm > select {
    width: auto;
    height: auto!important;
}

#sortForm {
    margin-left: 3%;
= = = = = = = margin-top: 2 %;
    text-align: end;
>>> >>> > ebdbb3756f24c98c8216666756ad8553702ed6bf
}

.book-information::-webkit-scrollbar {
    display: none;
}

.book-information {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body > div.book-detail > div.book-image > img {
    width: auto;
    height: 100%;
}

.book-information::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}

.book-information::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}

.book-information::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

.book-information::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
}

html,
body,
div:not(.header),
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul:not(.menu),
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    margin: 0;
    padding: 0;
    /* vertical-align: baseline; */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: outside none none;
}

blockquote,
q {
    quotes: none;
}

a {
    cursor: pointer;
    text-decoration: none !important;
    color: inherit;
}

a.link {
    color: #3f94d5;
    font-weight: 600;
}

button {
    cursor: pointer;
}

table {
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
}

.clear {
    clear: both;
}

a:hover {
    color: #f18121;
    transition: 0.3s;
}

a.no_hover:hover {
    color: inherit;
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}

:focus {
    outline: none;
}

.story-detail-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
.story-detail-info a {
    color: #0a86db;
}

.comment-count {
    font-size: 20px !important;
}
.text-list-reply {
    font-weight: 600;
    font-size: 14px;
    padding-top: 5px;
}
.comment-container {
    padding-top: 20px;
    padding-bottom: 40px;
}
.content-comment img {
    max-width: 100px;
}
.rep-com {
    margin-left: 55px;
    margin-top: 5px;
}

.comment-container .story-detail-title {
    color: #f18121;
    font-size: 20px;
}
.comment-container .story-detail-title i {
    margin-right: 10px;
}
.comment-container .group01 {
    overflow: hidden;
    clear: both;
    margin-top: 20px;
}
.comment-container .group01 .form-comment .input-comment {
    text-align: center;
}
.comment-container .group01 .form-comment .input-comment input {
    width: 100%;
    border-radius: 25px;
}
.comment-container .group01 .form-comment .mess-input {
    clear: both;
    width: 100%;
    position: relative;
}
.hidden {
    display: none;
}
.comment-container .group01 .form-comment .comment-placeholder {
    font-size: 14px;
    color: #999;
    height: 70px;
    padding: 5px 10px;
    background-color: #fff;
    cursor: text;
    border: 1px solid #bbb;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px #fff;
}

.comment-container .group01 .list-comment {
    clear: both;
}
.comment-container .group01 .list-comment .info-comment {
    padding: 10px;
}
.comment-container .group01 .list-comment .reply_comment {
    padding-left: 60px;
}
.comment-container .group01 .list-comment .reply_comment .message-content {
    background-color: #f7f7f7;
    padding: 10px;
}
.comment-container .group01 .list-comment .avartar-comment {
    width: 46px;
    float: left;
    margin-right: 10px;
    position: relative;
    padding: 10px 0px;
}
.comment-container .group01 .list-comment .rank-avatar {
    position: absolute;
    top: 0%;
    left: -24%;
}
.comment-container .group01 .list-comment .rank-avatar img {
    width: 120%;
}
.comment-container .group01 .list-comment .avartar-comment > img {
    border: 1px solid #eee;
    border-radius: 46px;
    background-color: #fff;
    height: auto;
    max-width: 100%;
}
.comment-container .group01 .list-comment .item-comment {
    margin-left: 55px;
}
.comment-container .group01 .list-comment .item-comment .time {
    font-size: 12px;
    margin: 0 10px;
}
.comment-container .group01 .list-comment .media-comment {
    padding: 10px;
}
.comment-container .group01 .list-comment .title-user-comment {
    font-size: 12px;
    border-radius: 5px;
    padding: 0 3px;
    margin: 0 8px;
}
.comment-container .group01 .list-comment .title-admin {
    border: 1px solid #ff2853 !important;
    color: #ff2853 !important;
}
.comment-container .group01 .list-comment .title-owner {
    border: 1px solid #bd10e0;
    color: #bd10e0;
}
.comment-container .group01 .list-comment .title-member {
    border: 1px solid #209cee;
    color: #209cee;
}
.comment-container .group01 .list-comment .title-hidden {
    border: 1px solid #000;
    color: #000;
}
.comment-container .group01 .list-comment .action-comment span {
    color: #3f94d5;
    font-size: 13px;
    cursor: pointer;
}
.comment-container .group01 .list-comment .action-comment .remove_comnent {
    margin-left: 20px;
}
.comment-container .group01 .list-comment .content-comment {
    color: #000;
    overflow: hidden;
    display: block;
    padding: 7px 0 0;
    word-wrap: break-word;
    border-top: 1px solid #f18121;
    margin-top: 7px;
    font-weight: 400;
    font-size: 15px;
}
.messages .description {
    width: 100%;
    height: 75px;
    border: 1px solid #ddd;
    border-radius: 3px;
    resize: none;
}
.action-comment {
    padding-top: 3px;
}
.comment-container .group01 .list-comment .reply-list {
    padding-left: 60px;
}
.comment-container .group01 .list-comment .reply-list .outsite-comment {
    border-top: none;
    padding: 10px 0 10px 0;
    margin-top: 0;
}
.comment-container .group01 .list-comment .reply-name {
    font-size: 13px;
    margin-right: 20px;
}
.comment-container .group01 .list-comment .outline-content-comment {
    background: #f7f7f7;
    padding: 10px;
    border-radius: 10px;
}
.comment-container .load-more a {
    width: 100%;
    margin: 40px 0;
    font-size: 16px;
    font-weight: 700;
    color: #fff !important;
}
.comment-container .load-more a:hover {
    opacity: 0.5;
}
.mess-input .input {
    margin: 5px 0;
    width: 38%;
    padding: 7px 2%;
    border: 1px solid #bbb;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px #fff;
    text-shadow: 0 0 1px #fff;
    overflow: visible;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

body {
    font-family: Quicksand, sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #ebebeb;
}

.main_content.transaction {
    float: none;
    width: 100%;
}

.main_content.transaction {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 3px;
}

.main_content.transaction #transaction_content {
    padding: 20px;
}

.main_content.transaction #transaction_content h3 {
    line-height: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
}

.main_content.transaction #transaction_content #my_bag {
    float: left;
    width: 400px;
    min-height: 100%;
    margin-right: 70px;
    padding-right: 20px;
}

.main_content.transaction
#transaction_content
#transaction_item
.transaction_control {
    text-align: center;
}

.main_content.transaction
#transaction_content
#transaction_item
.transaction_control
button {
    margin: 5px;
    line-height: 30px;
    padding: 0 30px;
}

.main_content.transaction #transaction_content #transaction_item {
    float: left;
}

.main_content.transaction #transaction_content .transaction_div {
    float: left;
}

.main_content.transaction #transaction_content .transaction_div .point_div {
    line-height: 30px;
    text-align: right;
    padding: 10px 0;
}

.main_content.transaction
#transaction_content
.transaction_div
.point_div
.control {
    float: right;
    padding: 5px 0;
    margin-left: 10px;
}

.main_content.transaction
#transaction_content
.transaction_div
.point_div
.note {
    float: left;
    line-height: 40px;
}

.main_content.transaction
#transaction_content
.transaction_div
.point_div
.control
button {
    float: right;
    line-height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    margin-left: 5px;
    background-color: #f18121;
    font-weight: 600;
    float: right;
}

.main_content.transaction
#transaction_content
.transaction_div
.point_div
.control
input {
    float: left;
    height: 30px;
    max-width: 95px;
    line-height: 30px;
    margin-right: 3px;
    padding: 0 5px;
    text-align: center;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    float: left;
}

.main_content.transaction #transaction_content .transaction_div .point_div p {
    float: right;
    line-height: 40px;
}

.main_content.transaction #transaction_content h4 p.active {
    border-bottom: 3px solid #f18121;
}

.main_content.transaction #transaction_content h4 p:hover {
    border-bottom: 3px solid #f18121;
}

.main_content.transaction #transaction_content h4 p {
    width: 50%;
    float: left;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.list_item {
    height: 400px;
    overflow: auto;
    border: 1px solid #e2e2e2;
}

.main_content {
    margin: 0 auto;
}

.main_content.war {
    float: none;
    width: 100%;
}

.main_content.party {
    float: none;
    width: 100%;
}

.main_content #main_homepage {
    padding-bottom: 20px;
}

body.hompage .homepage_mobile_icon ul {
    margin-top: 20px;
    margin-bottom: 15px;
}

body.hompage .homepage_mobile_icon ul li {
    width: 33.3%;
    float: left;
    text-align: center;
}

body.hompage .homepage_mobile_icon ul li div {
    cursor: pointer;
}

body.hompage .homepage_mobile_icon ul li div div {
    width: 60px;
    height: 60px;
    background-color: #333;
    margin: 0 auto;
    font-size: 24px;
    color: #fff;
    border-radius: 150px;
    margin-bottom: 7px;
    position: relative;
}

body.hompage .homepage_mobile_icon ul li:nth-child(1) div div {
}

body.hompage .homepage_mobile_icon ul li:nth-child(2) div div {
    background-color: #2ecc71;
}

body.hompage .homepage_mobile_icon ul li:nth-child(3) div div {
    background-color: #3498db;
}

body.hompage .homepage_mobile_icon ul li:nth-child(4) div div {
    background-color: #9b59b6;
}

body.hompage .homepage_mobile_icon ul li p {
    font-size: 16px;
}

.menu_right {
    float: right;
    width: 360px;
}

.menu_right .facebook_page {
    margin-top: 20px;
    text-align: center;
}

.menu_right .app {
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.menu_right .app img {
    height: 50px;
    float: left;
}

.menu_right .app p {
    float: left;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 0;
    margin-left: 7px;
}

.menu_right .app p span {
    font-size: 12px;
    line-height: 18px;
    color: #999;
}

.menu_right .event {
    margin-top: 20px;
}

.menu_right .event img {
    width: 100%;
    border-radius: 5px;
}

.menu_right .top {
    background-color: #fff;
    padding-bottom: 1px;
}

.menu_right .top h3 {
    margin-top: 20px;
    background-color: #fff;
}
.has-text-centered {
    padding-top: 10px;
    text-align: center !important;
}
.has-text-centered .view-more-btn {
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 25%);
    background-color: #f18121;
    font-size: 16px;
    font-weight: 700;
    color: #fff !important;
    padding: 12px 20px;
    display: inline-block;
}
.menu_right .top .load_more {
    margin-top: 7px;
}

.menu_right .top .load_more a {
    color: #3f94d5;
}

.menu_right .top ul li.hidden_item {
    display: none !important;
}

.menu_right .top ul li.member_follow .detail {
    min-width: 214px;
}

.menu_right .top ul.active li.hidden_item {
    display: inherit !important;
}

.menu_right .top ul li {
}

.menu_right .top h3 p.active {
    border-bottom: 3px solid #f18121;
}

.menu_right .top h3 p:hover {
    border-bottom: 3px solid #f18121;
}

.menu_right .top h3.one p {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}
.load_more_book {
    width: 100px;
    height: 30px;
    margin: 5px auto;
    background: #0d6fde;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 3px;
}
.menu_right .top h3.two p {
    width: 50%;
}

.menu_right .top h3 p {
    float: left;
    line-height: 45px;
    width: 33.33%;
    text-align: center;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
}

.menu_right .top ul {
    overflow: hidden;
}

.menu_right .top ul.active {
    max-height: inherit;
}

.menu_right .top ul li {
    padding: 12px 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.menu_right .top ul li .stt {
    float: left;
    line-height: 60px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 700;
    width: 20px;
    text-align: center;
}
.menu_right .top ul li:nth-child(5n + 1) .stt {
    color: #ff3f00;
}

.menu_right .top ul li:nth-child(5n + 2) .stt {
    color: #ff7600;
}

.menu_right .top ul li:nth-child(5n + 3) .stt {
    color: #50cb93;
}

.menu_right .top ul li:nth-child(5n + 4) .stt {
    color: #00bcd4;
}

.menu_right .top ul li:nth-child(5n + 5) .stt {
    color: #5d5fef;
}
.detail_top {
    padding-top: 5px;
}
.pull-right {
    float: right !important;
}
.menu_right .top ul li .book_avatar {
    float: left;
    width: 60px;
    overflow: hidden;
    height: 60px;
    margin-right: 10px;
}

.menu_right .top ul li .book_avatar img {
    width: 100%;
}

.menu_right .top ul#top_level li .book_avatar img {
    width: 60px;
    height: 60px;
    border-radius: 150px;
}

.menu_right .top ul li .detail {
    float: left;
    width: 85%;
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 105px);
    padding-top: 5px;
}

.menu_right .top ul li .detail p.name {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    max-height: 21px;
    overflow: hidden;
}

.menu_right .top ul li .detail p.chapter {
    font-size: 13px;
    color: #999;
    margin-top: 1px;
    display: inline-block;
}

.menu_right .top ul li .detail p.total_view {
    display: block;
    font-size: 12px;
    color: #666;
}

.menu_right .top ul li .detail p.total_point {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    color: #3f94d5;
    right: 0;
}

.main_content h2 {
    color: #f18121;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    text-transform: capitalize;
    line-height: 30px;
    float: left;
}
.book_other h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    padding-bottom: 10px;
}
.main_content h2 {
    font-size: 15px;
    color: #000;
}

.main_content .chapter_unlock {
    text-align: center;
}

.main_content .chapter_unlock p {
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}

.main_content .chapter_unlock img {
    height: 30px;
    margin-bottom: -8px !important;
    display: inline !important;
}

.main_content .chapter_unlock button {
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    background-color: #f18121;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;
    border: none;
    margin-top: 20px;
}

.main_content .change_server {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.main_content .change_server button {
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    background-color: #3f94d5;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;
    border: none;
}

.main_content button.active {
    background-color: #f18121 !important;
    color: #fff !important;
}

.main_content .menu_search_select {
    margin: 10px 0 20px 0;
}

.main_content .menu_search_select ul li {
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
}

.main_content .menu_search_select ul li select {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    line-height: 30px;
    height: 30px;
    padding: 0 5px;
    border-radius: 150px;
    font-weight: 600;
    color: #565656;
}

.main_content .menu_search_select ul li input {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    border-radius: 150px;
    font-weight: 600;
    color: #565656;
    width: 120px;
}

.main_content .menu_search_select ul li button {
    color: #fff;
    border: 1px solid;
    height: 30px;
    border-radius: 150px;
    width: 30px;
    font-size: 12px;
    float: left;
    background-color: #f18121;
    text-align: center;
    position: relative;
}

.main_content .homepage_tags .sort button {
    color: #f18121;
    border: 1px solid;
    height: 35px;
    border-radius: 35px;
    width: 35px;
    font-size: 12px;
    float: left;
    margin-left: 10px;
    background-color: transparent;
    text-align: center;
    position: relative;
}

.main_content .homepage_tags .button_circle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: #f18121;
    border: 1px solid;
    height: 40px;
    border-radius: 150px;
    width: 40px;
    font-size: 18px;
    padding-left: 10px;
    background-color: transparent;
}

.main_content h2 .button_circle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: #f18121;
    border: 1px solid;
    height: 40px;
    border-radius: 150px;
    width: 40px;
    text-align: center;
    font-size: 18px;
    background-color: transparent;
}

.main_content .tags_detail {
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
    line-height: 24px;
}

.main_content .homepage_tags {
    color: #f18121;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    position: relative;
    width: 100%;
    margin-top: 10px;
    min-height: 60px;
}

.select select {
    align-items: center;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
}

.select select {
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: 0;
}

.text-center {
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}

.main_content .homepage_tags h1 {
    float: left;
}

.main_content .homepage_tags .sort {
    float: right;
    padding: 10px 0;
}

.main_content .homepage_tags .sort select {
    height: 40px;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid #f18121;
    color: #f18121;
    background-color: transparent;
    font-size: 15px;
    margin-left: 10px;
    font-family: Quicksand, sans-serif;
    cursor: pointer;
    float: right;
}

.main_content .homepage_tags .sort select option {
    line-height: 40px;
    height: 40px;
}

.main_content .homepage_tags a {
    color: #3f94d5;
    font-size: 15px;
    text-transform: capitalize;
}

.page_redirect {
    margin: 20px 0;
    text-align: center;
}

.page_redirect p {
    margin: 0 4px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 150px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #e2e2e2;
}

.page_redirect p:hover {
    background-color: #f18121;
    color: #fff;
    transition: 0.5s;
}

.page_redirect p.active {
    background-color: #f18121;
    color: #fff;
}

.list_grid_out {
    margin-left: 0;
}
.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}
.detail-title {
    font-size: 20px;
    color: #333;
    font-weight: 700;
    display: inline-block;
}
.chapter-control {
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
#div_suggest {
    width: 100%;
    overflow: hidden;
    position: relative;
    max-height: 268px;
}

ul#list_suggest {
    width: 1900px;
    transition: 0.3s;
}

ul#list_suggest li.note {
    width: 100%;
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    margin-left: 10px;
}

ul#list_suggest li {
    width: 170px;
    margin: 0 10px !important;
}

ul#list_suggest li .book_avatar {
    height: 210px;
}

ul.list_grid.grid.list {
    margin-left: 0;
}

ul.list_grid.list li {
    width: 100%;
    float: none;
    margin: 0;
    background-color: #fff;
    margin-bottom: 15px;
    border: 1px solid #e6e6e6;
}

ul.list_grid.list li .book_continue {
    display: none;
}

ul.list_grid.list li .text_continue {
    display: block;
}

ul.list_grid.list li .book_detail {
    display: none;
}

ul.list_grid.list li .text_detail {
    display: block;
}

ul.list_grid.list li .book_avatar {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 0;
}

ul.list_grid.list li .book_avatar img {
    width: 100%;
    height: auto;
}

ul.list_grid.list li .book_info {
    width: calc(100% - 100px);
    float: left;
    height: 100px;
    padding: 0 10px;
    position: relative;
}

ul.list_grid.list li .book_info .book_name {
    text-align: left;
    font-size: 16px;
}

ul.list_grid.list li .book_info .last_chapter {
    position: absolute;
    width: calc(100% - 20px);
    bottom: 10px;
}

ul.list_grid li {
    width: 180px;
    float: left;
    margin: 10px;
}

ul.list_grid li .book_avatar {
    height: 220px;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
}

ul.list_grid li .book_avatar .hot_tags {
    position: absolute;
    right: 10px;
    top: 10px;
    min-height: auto;
    width: auto;
    min-width: auto;
}

ul.list_grid.list li .book_avatar .hot_tags {
    display: none;
}

ul.list_grid li .book_avatar img {
    width: 100%;
    min-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #ccc;
}
img.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
ul.list_grid li .text_continue {
    margin-top: 3px;
    display: none;
}

ul.list_grid li .book_continue {
    position: absolute;
    bottom: 40px;
    color: #fff;
    padding: 0 10px;
    line-height: 30px;
    z-index: 1;
    right: 0;
    text-align: center;
    cursor: pointer;
    background-color: #209cee;
    border-radius: 5px 0 0 5px;
}

ul.list_grid li .text_detail {
    position: absolute;
    right: 10px;
    top: 45px;
    display: none;
}

ul.list_grid li .text_detail span {
    margin-left: 10px;
}

ul.list_grid li .text_detail span .fa-bookmark {
    color: #ff2853;
}

ul.list_grid li .book_detail {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
    padding: 0 10px;
    line-height: 30px;
    z-index: 1;
}

ul.list_grid li .book_detail::after {
    content: "";
    background-color: #363636;
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 0 3px 3px;
    z-index: -1;
    opacity: 0.75;
}

ul.list_grid li .book_detail span {
    margin-right: 10px;
}

ul.list_grid li .book_info .book_name {
    text-align: center;
    line-height: 35px;
    font-weight: 600;
    font-size: 13px;
    margin-top: 7px;
    height: 35px;
    max-width: 100%;
    overflow: hidden;
    text-transform: capitalize;
}
ul.list_grid li .book_info .book_name h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul.list_grid .book_info .book_name p a:hover {
    color: #f18121;
}

ul.list_grid .book_info .last_chapter {
    font-size: 12px;
    text-align: center;
}

ul.list_grid .book_info .last_chapter a {
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
}

ul.list_grid .book_info .last_chapter p:last-child {
    float: right;
    text-transform: inherit;
    color: #999;
}

.main_content {
    padding-bottom: 25px;
    padding-top: 10px;
}

.main_content .book_detail {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

.main_content .book_detail h3 {
    color: #f18121;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.main_content .book_detail .book_control {
    position: absolute;
    right: 0;
    top: 0;
}

.main_content .book_detail .book_control button {
    background-color: #3f94d5;
    color: #fff;
    border: none;
    width: 40px;
    line-height: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
}

.main_content .book_detail .book_info {
    padding: 15px;
    position: relative;
}

.main_content .book_detail .book_info .book_avatar {
    height: 250px;
    overflow: hidden;
    width: 190px;
    border-radius: 5px;
    text-align: center;
    float: left;
    box-shadow: 0 0 8px 0 #757575;
}

.main_content .book_detail .book_info .book_avatar img {
    height: 100%;
    width: auto;
}

.main_content .book_detail .book_info .book_other {
    width: calc(100% - 220px);
    float: right;
    text-align: left;
}

.main_content .book_detail .book_info .book_other p,
body.detail
.content
.main_content
.book_detail
.book_info
.book_other
div
span {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
ul.list-info {
    clear: both;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
ul.list-info li {
    display: block;
}
ul.list-info li p {
    padding-top: 0;
    line-height: 27px;
    float: left;
}
ul.list-info li p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    text-transform: inherit;
    color: #000;
}
.col-xs-3 {
    width: 17%;
}
.col-xs-9 {
    width: 83%;
}

.col-md-10 {
    width: 83%;
}

.col-md-2 {
    width: 16%;
}
.list01 {
    overflow: hidden;
    padding-bottom: 10px;
}
.list01 li a {
    display: inline-block;
    border: 1px solid #56ccf2;
    color: #56ccf2;
    float: left;
    padding: 4px 6px;
    border-radius: 3px;
    margin-right: 10px;
}
.list01 li.li03 a {
    border-color: #f18121;
    color: #f18121;
    margin-top: 5px;
}
.list01 li.li03 a:hover {
    background: #f18121;
    color: #fff;
}
.story-detail-menu {
    overflow: hidden;
}
.story-detail-menu a {
    margin-bottom: 5px;
}
.story-detail-menu li.li01 a {
    background: #8bc34a;
}
.story-detail-menu li a {
    font-size: 15px;
    float: left;
    color: #fff !important;
    margin-right: 8px;
    min-width: 125px;
    font-weight: 400;
    padding: 10px;
}
.button.is-rounded {
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
.button.is-danger {
    background-color: #ff3860;
    border-color: transparent;
    color: #fff;
}
.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
}
.story-detail-menu li.li03 a {
    background: #bd10e0;
}
.button.is-info {
    background-color: #209cee;
    border-color: transparent;
    color: #fff;
}
.story-detail-menu li a:hover {
    opacity: 0.6;
}
.warning-info {
    display: inline-block;
    margin-bottom: 15px;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.warning-info span {
    font-weight: 700;
    font-size: 14px;
}
.main_content .chapter_content {
    text-align: center;
    padding-bottom: 40px;
    position: relative;
    margin-top: 20px;
}

.main_content .chapter_content img {
    color: #fff;
    border-color: #000;
    border-image: initial;
    border-style: none;
    border-width: medium;
    height: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: auto;
    z-index: 1;
    position: relative;
    display: block;
}
.d-none {
    background-color: #dddddd;
    cursor: not-allowed;
}
.main_content .chapter_content .page-chapter {
    position: relative;
    text-align: center;
}

.main_content #chapter_content h1 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 35px;
    padding-bottom: 10px;
}

.main_content .chapter_content h1 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 40px;
    margin: 30px 0;
}

.main_content #chapter_content h5 {
    font-weight: 600;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 0;
}

.main_content .chapter_content .chapter_control {
    position: fixed;
    bottom: -1px;
    z-index: 1;
    width: 100%;
    left: 0;
    height: 45px;
    background-color: #242526;
    box-shadow: 5px 5px 16px -4px #8e8e8e;
    padding: 4px;
    color: #fff;
}

.main_content .chapter_content .chapter_control .prev,
.main_content .chapter_content .chapter_control .next {
    display: inline-block;
    background: #fff;
    color: #000 !important;
    text-align: center;
    border-color: #d43f3a;
    border-radius: 35px;
    line-height: 35px;
}

.col-md-9 {
    width: 75%;
}

.col-md-3 {
    width: 25%;
}
